@media (max-width: 339px) {
  .info__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .info__text-d {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    font-family: Montserrat;
    padding-bottom: 30px;
  }

  @media (max-width: 573px) {
    .footer__text {
      display: none;
    }
  }

  .info__btn {
    background-color: #d3ebd8;
    text-align: center;
    text-decoration: none;
    border: 2px solid #d3ebd8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 15px 40px;
    transition: 1s;
  }
  .info__btn-t {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
  }
}

@media (max-width: 760px) {
  .benefints__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .benefints__item {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .benefints__imgess {
    width: 100%;
    height: auto;
  }
  .footer__phone {
    display: none;
  }
}

@media (max-width: 1100px) {
  .rent__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rent__content {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .rent__item {
    margin-bottom: 30px;
  }

  .list__item-images {
    width: 100%;
    height: auto;
  }
  .car__park-text {
    padding-top: 0;
  }
}

@media (max-width: 1028px) {
  body.lock {
    overflow: hidden;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #d3ebd8;
    padding: 120px 0 0 0;
    z-index: 4;
    top: -100%;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu.active {
    top: 0;
  }

  .menu__list {
    display: block;
  }
  .menu__list li {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .logo__text {
    z-index: 5;
  }

  .menu__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 10;
    order: 1;
  }
  .menu__burger span {
    position: absolute;
    height: 3px;
    width: 100%;
    top: 8px;
    background-color: black;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__burger.active span {
    transform: scale(0);
  }
  .menu__burger:after,
  .menu__burger:before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__burger:before {
    top: 0;
  }
  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .phone {
    display: none;
  }

  .info {
    text-align: center;
    background: none;
    height: auto;
  }

  .car__park {
    text-align: center;
  }
  .rent {
    padding: 120px 0;
  }

  .benefints__title {
    text-align: center;
  }
  .feedback__title {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .footer__btn {
    display: none;
  }

  .footer__text {
    display: none;
  }
}
