html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: black;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1220px;

  margin: 0 auto;
}
/*___________Header______________*/

.header {
  background: linear-gradient(180deg, #d7ded3 0%, rgba(215, 222, 211, 0) 100%);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 0 0;
  padding-bottom: 150px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin: 0 25px;
}
.menu__list-link {
  color: black;
  font-size: 18px;
  line-height: 35px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
  transition: font-weight 0.3s;
}
.menu__list-link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.52);
}

.logo__text {
  display: flex;
  align-items: center;
  color: black;
  font-size: 25px;
  size: 22px;
}

.logo__text::before {
  content: url("../images/logo.svg");
}

.phone {
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.phone::before {
  content: url("../images/phone.svg");
}

/*___________INFO______________*/

.info {
  background: url(../images/car.png) no-repeat;
  height: 100vh;
  background-position: right;
  background-position-y: -90px;
}

.info__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 105px;
}
.info__text-d {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  font-family: Montserrat;
  padding-bottom: 100px;
}

.info__btn {
  background-color: #d3ebd8;
  text-align: center;
  text-decoration: none;
  border: 2px solid #d3ebd8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px 50px;
  transition: 1s;
}
.info__btn-t {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: black;
}
.info__btn:hover {
  background-color: #e2f6d1;
  border: 2px solid rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}
/*___________CAR______________*/

.car__park {
  background-color: white;
}

.car__park-text {
  padding-top: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 49px;
  padding-bottom: 82px;
  font-size: 40px;
}

.list__item-images {
  width: 100%;
  height: auto;
}
.list__slide {
}

.list__item {
}

.list__item-text {
  text-align: center;
  padding: 15px;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #c4c4c4;
  margin: 0 8px;
}
.slick-active button {
  width: 15px;
  height: 15px;
  background-color: #413f3f;
}
.slick-arrow {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.slick-next {
  left: -40px;
}
.slick-prev {
  right: -40px;
}

/*_________________rent_____________*/

.rent {
  padding: 100px 0;
}

.rent__inner {
  display: flex;
  justify-content: space-between;
}

.rent__content {
  width: 300px;
}

.rent__title {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}
.rent__text {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}
.rent__text + .rent__text {
  margin-bottom: 30px;
}

.rent__btn {
  background-color: #fefeff;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fefeff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 21px 42px;
  border: 1px solid transparent;
  transition: 1.1s;
}

.rent__btn-t {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: black;
}

.rent__btn:hover {
  border: 1px solid #000;
  background-color: #d3ebd8;
  transform: scale(1.1);
}

.rent__item {
  border: 1px solid #000;
  min-height: 350px;
  width: 250px;
  text-align: center;
  border-radius: 50px;
  padding: 0 30px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(180deg, #cde6c0 0%, rgba(215, 222, 211, 0) 100%);
}
.rent__item-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
}
.rent__item-text {
}

.rent__num {
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  color: #000000;
  opacity: 0.2;
}

/*______________Feedback___________*/

.feedback {
  background-color: white;
  padding: 50px 0;
}
.slick-initialized .feedback__item {
  display: flex;
}

.feedback__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 70px;
}

.feedback__item {
  border: 1px solid #000;
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-height: 350px;
  text-align: center;
  background-color: #ddf5dc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  border-radius: 50px;
  margin: 15px;
}

.feedback__name {
  font-weight: 500;
  line-height: 29px;
}

.feedback__text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
/*_________________benefints_____________*/

.benefints {
  background: linear-gradient(180deg, #ddf5dc 0%, #ffffff 100%);
}

.benefints__inner {
  display: flex;
  justify-content: space-between;
}

.benefints__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  padding: 80px 0 30px;
}
.benefints__item {
  padding: 10px;
  text-align: center;
}
.benefints__images {
  text-align: center;
}

/*____________Footer____________*/

.footer {
  padding: 40px 0 20px;
  background: linear-gradient(180deg, #d7ded3 0%, rgba(215, 222, 211, 0) 100%);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer__phone {
  font-size: 15px;
  line-height: 18px;
  color: black;
}
.footer__social-link {
  margin: 0 25px;
}
.footer__btn {
  text-align: center;
  text-decoration: none;
  border: 2px solid #fefefe;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 18px 35px;
  border: 1px solid transparent;
  transition: 1.1s;
}

.footer__btn:hover {
  background-color: #d3ebd8;
  border: 2px solid rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}

.footer__btn-t {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: black;
}
